# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
node_modules 
*.env 
.env* 
*.local

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)
.vscode/
.vscode/

# Temp folder 
temp/
uploads/


### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

dist/
dist

temp
temp/*

seed_status_orders.js
list_status_orders.js
cleanup_orphaned_notifications.js
list_statuses.js
notExample.js

# Diagnostics and migrations
scratch/
check_steps.js
check_statuses.*
add_deregistered_status.*
update_activities*
notExample*
check_supervisors*
UMI System Process & Status Definition V2*
UMI_API_Documentation*
UMI_Data_Requirements*
ACMIS_Integration_Spec*
.DS_Store
umidrimsdb.statusDefinition.json
